{% extends "base_page.html" %}

{% block content %}
    <h1>Список продуктов:</h1>
    {% for category in categories %}
        <strong>{{ category.category_name }}</strong>
        <ul class="rounded">
            {% for product in category.product_set.all %}
                <li>{{ product.product_name }} ({{product.product_value}} {{product.product_measure}})</li>
                <a href="{% url 'change-product-value' product.id %}">Изменить</a>
                {% empty %}
                <li>В этой категории продуктов нет</li>
            {% endfor %}
        </ul>
        {% empty %}
        Категорий нет
    {% endfor %}
    <strong>Без категории: </strong>
    <ul class="rounded">
        {% for product in products %}
            <li>{{ product.product_name }} ({{product.product_value}} {{product.product_measure}})</li>
            <a href="{% url 'change-product-value' product.id %}">Изменить</a>
        {% endfor %}
    </ul>
{% endblock %}

