{% extends "base_page.html" %}

{% block content %}
    {% for category in categories %}
        {{ category.category_name }}
        <ul>
            {% for product in category.product_set.all %}
                <li>{{ product.product_name }} ({{product.product_value}} {{product.product_measure}})</li>
                {% empty %}
                <li>В этой категории продуктов нет</li>
            {% endfor %}
        </ul>
        {% empty %}
        Категорий нет
    {% endfor %}
{% endblock %}

